<div class ="container">
  <div class ="row">
    <div class="my-5">
      <h3>下記の情報を入力し私達にお勧めのパン屋を教えてください！</h3>
    </div>
  </div>
  <div class ="row col-md-12">
    <table class ="table">
      <%= form_with(model:@recommend_new, url:recommends_path) do |form| %>
        <tr>
          <th><%= form.label :画像 %></th>
            <td><%= form.attachment_field :recommend_image %></td>
          </tr>
          <tr>
            <th><%= form.label :店名 %></th>
            <td><%= form.text_field :recommend_shop_name %></td>
          </tr>
          <tr>
            <th><%= form.label :オススメポイント %></th>
            <td><%= form.text_area :recommend_shop_profile,:size=>"50x5" %></td>
          </tr>
          <tr>
            <th><%= form.label :ジャンル %></th>
            <td><%= form.collection_select(:genre_id,Genre.all, :id, :genre_name,include_blank: "ジャンル") %></td>
          </tr>
          <tr>
            <th><%= form.label :駅 %></th>
            <td><%= form.collection_select(:station_id,Station.all, :id, :station_name,include_blank: "駅") %></td>
          </tr>
          <tr>
            <th><%= form.label :店舗住所 %></th>
            <td><%= form.text_field :recommend_shop_address %></td>
          </tr>
          <tr>
            <th><%= form.label :ホームページ %></th>
            <td><%= form.text_field :recommend_shop_homepage %></td>
          </tr>
          <tr>
            <th><%= form.submit :送信する,class: "btn btn-primary" %></th>
          </tr>
        <% end %>
      </table>
    </div>
    </div>
  </div>
</div>