<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container pb-3">
    <div class ="row justify-content-center">
      <div class ="my-sm-0">
       <% if @shops.empty? %>
           <h2>検索条件のパン屋がありませんでした</h2><br>
           <%= image_tag 'shazaipanda.png',size: "500x500" %>
           <h3>申し訳ございません条件を変更し再度検索してください</h3><br>
           →<%= link_to "検索条件を変更して再検索する",shop_search_path %>
       <% else %><h2>検索結果は<%= @shop_count %>件です</h2>
      </div>
    </div>
    <div class ="row justify-content-center">
      <%= form_with(url:shops_path,local:true, method: :get) do |form| %>
        <%= form.hidden_field :name,value:params[:name] %>
        <%= form.hidden_field :genre_id,value:params[:genre_id] %>
        <%= form.hidden_field :station_id,value:params[:station_id] %>
        <%= form.select :sort_type,[["コメント数","shop_comment_count"],["店名","shop_name"],["評価","average_score"],["いいね","favorites_count"]],include_blank: true %>
        <%= form.submit :並び替える %>
      <% end %>
    </div>
       <% end %>
      <div class="col-md-6 offset-md-3  ">
        <% @shops.each do |shop| %>
          <div class="memo" style="padding: 10px; margin-top: 20px; height: auto;">
            <span class="masking-tape bg-light"></span>
              <div class="row py-3">
      <div class="col-md-4 ">
        <%= attachment_image_tag shop, :main, size: "200x200", format: "jpeg" %>
      </div>
       <div class="col-md-8 ">
         <%= link_to shop.shop_name, shop_path(shop.id),data: { "turbolinks"=> false } %><br><br>
         <%= image_tag 'star-on.png' %>
         <% if shop.average_score %>
           <%= shop.average_score.round(1) %>
         <% else %>
           まだ評価はありません
         <% end %><br>
         <i class="fa fa-commenting-o"></i><%= "#{shop.shop_comments.count}コメント" %><br>
          My shop<div class="fa fa-heart" aria-hidden="true" style="color: red;">
            <%= shop.favorites.count %>
          </div>
      </div>
              </div>
            </div>
          <% end %>
           <%= paginate @shops %>
      </div>
    </div>
    </div>
    </div>
</section>