<div class ="container">
  <div class ="row m-3">
    <p class ="content1" >
      <h2><%= @user.name %>さんの会員情報詳細</h2>
    </p>
  </div>
  <div class ="row m-3">
    <div class ="col-md-3">
      <%= attachment_image_tag @user, :image,size: "250x250", fallback: "download.png" %>
    </div>

    <div class ="col-md-9">
      <table class ='table'>
   	    <tr>
   	      <th>UserID</th>
   	      <td><%= @user.id %></td>
   	    </tr>
   	    <tr>
   	      <th>名前</th>
   	      <td><%= @user.name %></td>
   	    </tr>
   	    <tr>
   	      <th>メールアドレス</th>
   	      <td><%= @user.email %></td>
   	    </tr>
        <tr>
          <th>自己紹介文</th>
          <td><%= @user.profile %></td>
        </tr>
       	<tr>
   	      <th>ステータス</th>
   	      <td>
            <% if @user.quit %>
              有効
            <% else %>
              退会済み
            <% end %>
          </td>
   	    </tr>
      </table>
      <%= link_to "編集する", edit_admin_user_path(@user.id),class: "btn btn-primary",data: { "turbolinks"=> false } %>
    </div>
  </div>
</div>